body {
  text-align: center;
  font-family: Helvetica;
}

.topnav {
  background-image: url(../images/the-flatiron-building.png);
}

#home {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.nav {
  font-size: 18px;
  color: white;
}

#about {
  font-size: 32px;
  font-weight: bold;
}
